[submodule "external/PENGUIN"]
	path = external/PENGUIN
	url = https://github.com/Neurogica/PENGUIN.git
[submodule "external/iMeanFlow"]
	path = external/iMeanFlow
	url = https://github.com/Lyy-iiis/imeanflow.git
